<div class="offer-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-10 chat">
          <% @comments.each do |comment| %>
           <ul class="comments_container">
            <li class="comments_image">
              <%= image_tag comment.user.my_image.url %>
            </li>
            <li class="comments_nickname">
              <%= comment.user.nickname %>
            </li>
            <li class="comments_contents">
              <%= comment.contents %>
            </li>
            <li class="comments_created_at">
              <%= comment.created_at %>
            </li>
           </ul>
          <% end %>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">Add your comment</h1>
        <%= form_for @comment, url: comments_index_path do |f| %>
          <div class="form-group">
            <%= f.label :contents %>
            <%= f.text_area :contents, class:'form-control' %>
            <%= f.hidden_field :offer_id, value: params[:offer_id] %>
          </div>
      <%#= f.hidden_field :offer_id, :value => params[:a]   %>
          <%= f.submit '投稿', class: 'btn btn-black btn-block' %>

        <% end %>
      </div>
     </div>
    </div>
  </div>
