<div class="users-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 users-new-container">
        <h1 class="text-center text-white">Working Holiday Mate <%= t :registration %></h1>
        <%= form_for :user,url:users_path do |f| %>
          <div class="form-group">
            <%= t 'activerecord.attributes.user.nickname' %></br>
            <!-- 日本語化 -->
            <%= f.label :nickname, class: 'text-white' %>
            <%= f.text_field :nickname, class: 'form-control',required: true %>
          </div>
          <div class="form-group">
            <%= f.label :mail, class: 'text-white' %>
            <!-- <label class="text-white" for="mail">メールアドレス</label> -->
            <%= f.email_field :mail, class: 'form-control',required: true %>
          </div>
          <div class="form-group">
            <%= f.label :password, class: 'text-white' %>
            <%= f.password_field :password, class: 'form-control',required: true %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, class: 'text-white' %>
            <%= f.password_field :password_confirmation, class: 'form-control',required: true%>
          </div>
          <div class="form-group">
            <%= f.label :プロフィール画像を挿入%>
            <%= f.file_field :my_image,required: true %>
          </div>
          <div class="form-group">
            <div class="gender">
              <%#= f.label :"性別" %>
              <%#=f.select :gender, User.genders.keys.to_a, {}, class: 'form-control',required: true %>
            <div class="radio-inline">
              <label>

                <%= f.radio_button :gender, :men, checked: true %>男性
              </label>
            </div>
            <div class="radio-inline">
              <label>
                <%= f.radio_button :gender, :women %>女性
              </label>
            </div>
          </div>
          <!-- <div class="radio-inline">
            <%#= f.label :gender, class: 'text-white' %>
            <%#= f.radio_button :gender, :"男性" %>
          </div>
          <div class="radio-inline">
            <%#= f.label :gender, class: 'text-white' %>
            <%#= f.radio_button :gender, :"女性" %>
          </div> -->
          <div class="field">
            <%= f.label  "生年月日" %><br>
            <%= f.date_select :birthday,
                              :start_year        => 1980,
                              :use_month_numbers => true ,
                              :date_separator => "-",required: true %>
          </div>
          <div class="form-group">
            <%#= f.label :age, class: 'text-white' %>
            <%#= f.text_field :age, class: 'form-control' %>
          </div>
          <div class="form-group">
             <%= f.label :"国籍" %>
             <%=f.select :nationality, User.nationalities.keys.to_a, {}, class: 'form-control',required: true %>
          <!-- [["日本","Japan"],["Korea","Korea"],["Taiwan","Taiwan"],["HongKong","HongKong"],["China","China"],["Australia","Australia"],
          ["NewZealand","NewZealand"],["France","France"],["German","German"],["Nederland","Nederland"],["Canada","Canada"]]  -->
            <%#= f.select :nationality,
            [["Japan"]["Korea"]["China"]["Chinese Taipei"]["HongKong"]["Australia"]["Canada"]["NewZealand"]["Ireland"]["German"]["UK"]["France"]]
             class: 'form-control' %>
             <!-- # "Japan"
             # "Korea"
             # "Taiwan"
             # "HongKong"
             # "China"
             # "Australia"
             # "NewZealand"
             # "France"
             # "German"
             # "Nederland"
             # "Canada" -->
          </div>

          <div class="form-group">
             <%= f.label :"話せる言語" %>
             <%=f.select :language, Language.languages.keys.to_a, {}, class: 'form-control' %>
             <%= f.label :"Level" %>
             <%= f.select :level, UserLanguageLevel.levels.keys.to_a, {}, class: 'form-control' %>
          </div>

          <!-- language_usersをlanguegesに紐づけて並列表示 -->
          <div class="form-group">
            <%= f.label :"趣味", class:'text-white' %>
            <%= f.text_field :hobby, class:'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :"自己紹介", class:'text-white' %>
            <%= f.text_field :introduce_yourself, class:'form-control' %>
          </div>

          <%= f.submit "登録", class: 'btn-block btn-white' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
