<div class="offers-new-wrapper">
 <div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4 users-new-container">
     <h1 class="text-center">Let's make working holiday mate!</h1>
      <%= form_for @offer do |f| %>
        <div class="form-group">
          <%= f.label :"行きたい国" %>
          <%= f.select :country,
          [["Australia","Australia"],["New Zealand","New Zealand"],["Canada","Canada"],["Japan","Japan"],["Korea","Korea"]] %>
        <div class="form-group">
          <%= f.label :"州" %>
          <%= f.text_area :state %>
        </div>
        <div class="form-group">
          <%= f.label :"市・町" %>
          <%= f.text_area :region %>
        </div>
        <div class="input-group date datepicker">
          <%= f.label :from %>
          <%= f.text_field :period_from, class: 'form-control' %>
          <span class="input-group-addon">
            <span class="fa fa calender"></span>
          </span>
        </div>
        <div class="input-group date datepicker">
          <%= f.label :to %>
          <%= f.text_field :period_to, class: 'form-control' %>
          <span class="input-group-addon">
            <span class="fa fa calender"></span>
          </span>
        </div>
        <div class="form-group">
          <%= f.label :"旅のタイトル（３０文字以内）"%>
          <%= f.text_area :title %>
        </div>
        <div class="form-group">
          <%= f.label :"詳細説明" %>
          <%= f.text_area :detail %>
        </div>
        <div class="form-group">
          <%= f.label :"旅のイメージ画像をアップロード" %>
          <%= f.file_field :offer_image %>
        </div>

      <%= f.submit'投稿', class: 'btn btn-black btn-block' %>

     <% end %>
   </div>
  </div>
 </div>
</div>



          <!-- t.integer: user_id
          t.string: country
          t.string: state
          t.string: region
          t.integer: period_from
          t.integer: period_to
          t.string: title
          t.string: detail
          t.string: offer_image -->
